*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;

}
.first-view{
    background: rgba(255, 144, 14, 0.1);
    height: 1050px;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 25px;
}
.nav-title{
    color: #131313;
    font-weight: 700;
font-size: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    height: 80px;  
}
nav ul{
    color: #424242;
    display:flex;
    list-style: none;
    font-weight: 500;
font-size: 18px;
    gap: 24px;
}

/* Architecture group */

.archi-group{
    text-align: center;
   
    padding-top: 5%;
}
.archi-title{
    color: #131313;
    font-weight: 700;
font-size: 40px;
}

.archi-desc{
    color: #727272;
    font-weight: 400;
font-size: 16px;
padding: 2%;
}
.btn-primary {
    color: #FFFFFF;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}
.archi-group > img{
    padding-top: 3%;
    height: 600px;
    width: 1245px;
}



/*----------------------------------------------
               Features Section
------------------------------------------------- */

.features-container{
    display: flex;
    margin-left: 250px;
    gap: 40px;
    padding-top: 5%;
}

.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.f-img> img{
    height: 250px;
    width: 250px;
}

/* .features-para{
    padding-left: 2%;
    padding-bottom: 5%;
} */
.features-title{
    padding-top: 20%;
    font-weight: 700;
font-size: 30px;
}
.f-gray{
    color: #727272;
}
.f-black{
    color: #131313;
}
.f-orange{
    color: #FF900E;
}

.features-desc{
    color: #727272;
    font-weight: 400;
font-size: 16px;
padding-bottom: 2%;
}

/*----------------------------------------------
               Body Section
------------------------------------------------- */
.features-body-container{
    display: flex;
    padding-top: 10% ;
    gap: 5%; 
    
}
.body-section{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 24px;
    
}
.body-img > img{
 height: 700px;
 width: 500px;   
 
}
.vl {
    border-left: 6px solid orangered;
    height: 80px;
  }
  .vertical{
    display: flex;
    gap: 10px;
  }
  .title > h1,h3{
    color: #131313;
    font-weight: 700;
  }
  .title > p{
    color: #727272;
    padding-top: 2%;
  }
  .btn-secondary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 70px;
    background: #FD6E0A;
    border-radius: 5px;
}
.button{
    text-align: center;
}

/*----------------------------------------------
               Facts Section
------------------------------------------------- */
.facts-container{
    padding-top: 6%;
}

.facts > h1{
    color: #131313;
    font-weight: 700;
}
.facts >p{
    color: #727272;
    font-weight: 400;
font-size: 16px;
}

/*----------------------------------------------
               Box Section
------------------------------------------------- */
.box-section{
    display:flex;
    justify-content: space-evenly;
    padding-top: 5%;
    
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid #FF900E;
    text-align: center;
    border-radius: 7px;
    padding-top: 17px;
    transition: width 1s, height 1s, transform 1s;
}
.box:hover{
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.box > img {
    height: 40px;
    width: 40px;
}
.box > p{
    color: #727272;
}
.box >h2{
    color: #424242;
}

/*----------------------------------------------
               sponser Section
------------------------------------------------- */

.sponser-section{
    padding-top: 7%;
    text-align: center;
}
.sponser> h2{
    color: #131313;
    padding: 2%;
}
.sponser>p{
    color: #424242;
}

/*----------------------------------------------
               sponser logo Section
------------------------------------------------- */
.sponser-img{
    display: flex;
    justify-content: space-between;
    padding-top: 3% ;
}
.s-img > img{
    width: 120.51px;
height: 40px;
}

/*----------------------------------------------
               client Section
------------------------------------------------- */
.client-section{
    padding-top: 5%;
}
.review{
    text-align: center;
    color: #131313;
    padding-bottom: 1%;
}
.clients{
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.client > img{
    height: 200px;
    width: 200px;
    padding: 2%;
}


/*----------------------------------------------
               footer Section
------------------------------------------------- */
.footer{
    padding: 7%;
}

.f{
    width: 1000px;
    height: 70px;
    text-align: center;
    color: #424242;
    background-color: #FFF4E7;
    padding-top: 20px;
    border-radius: 10px;
    
}

/*----------------------------------------------
               Media Query
------------------------------------------------- */
@media only screen and (max-width: 576px) {
    .first-view{
        height: 800px;
    }
    .container{
        flex-direction: column;
    }
    
    .archi-group img{
       width: 400px;
       height: 300px; 
    }
    .features-body-container{
        flex-direction: column-reverse;
    }
    .sponser-img{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-content: space-around;
    }
    .clients{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .features-img{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
}